<! DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<table width="2260" border="0">
<			<tr valign="top">
				<td style="background-color:#FFD700; width:100px; text-align:top;">
					<b>Введите запрос:</b> <br>
					<form method="post">
						<input type="text" name="textstr" id="textstr"/> <br>
						<input type="submit" class="btn btn-success" value="Сгенерировать" />
					</form>
				</td>

				<td style="background-color:#eeeeee; height:1920px; width:2160px; text-align:top;">
					<img border="1" src={{ img[0] }}>
					<img border="1" src={{ img[1] }}>
				</td>

				<td style="background-color:#eeeeee; height:1920px; width:2160px; text-align:top;">
					<img border="1" src={{ img[2] }}>
					<img border="1" src={{ img[3] }}>
				</td>				
				
			</tr>
		</table>

	</body>
</html>

